.add-item-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../Images/add-item-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
.add-item-form {
  background-color: rgba(102, 205, 171, 0.432);
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px);
  margin-top: 40px;
}
.add-item-form > h3 {
  line-height: 0px;
  padding-top: 30px;
}
input {
  border: none;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
}
input:focus {
  outline: none;
}
.add-item-btn {
  border: none;
  background: linear-gradient(
    90deg,
    rgb(100, 104, 126) 0%,
    rgb(179, 147, 197) 50%,
    rgb(216, 119, 203) 100%
  );
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 10px;
}
.add-item-btn > img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
textarea {
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 300px;
  height: 100px;
}
textarea:focus {
  outline: none;
}
