.card {
  width: 370px;
  height: 740px;
  margin: auto;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card-img {
  display: flex;
  justify-content: center;
}

.card-text {
  background-color: rgba(127, 255, 212, 0.411);
  backdrop-filter: blur(20px);
  position: absolute;
  height: 350px;
  width: 365px;
  backdrop-filter: blur(10px);
  bottom: 40px;
  padding: 20px;
}
.update-btn {
  background-color: mediumaquamarine;
  width: 360px;
  margin: auto;
  border: none;
  color: black;
  font-weight: 700;
  transition: 0.5s ease;
}
.update-btn:hover {
  background-color: aquamarine;
}
