.navbar {
  background-color: rgba(102, 205, 171, 0.432);
  backdrop-filter: blur(30px);
}
.nav-link {
  font-weight: 700;
}
.active {
  border: 2px solid purple;
  backdrop-filter: blur(20px);
}
.signout-btn {
  background: linear-gradient(
    90deg,
    rgb(185, 117, 231) 0%,
    rgb(228, 117, 117) 50%,
    rgb(235, 184, 114) 100%
  );
  border: 2px solid rgb(139, 35, 139);
  backdrop-filter: blur(20px);
  display: inline;
  text-align: center;
}
