.carousel-caption {
  background-color: rgba(102, 205, 171, 0.432);
  backdrop-filter: blur(30px);
  border-radius: 10px;
}
@media only screen and (max-width: 600px) {
  .carousel-item {
    height: 245px;
  }
}
